.buyer_profile__contract__area {
  padding: 60px 0;
}

.buyer_profile__contract__heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buyer_profile__contract__heading h1 {
  color: var(--black-400, #213937);
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  max-width: 569px;
}

.buyer_profile__contract__heading h2 {
  color: var(--black-300, #536262);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.buyer_profile__contract__area {
  padding: 60px 0;
}

.buyer_profile__contract__heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buyer_profile__contract__heading h1 {
  color: var(--black-400, #213937);
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  max-width: 569px;
}

.buyer_profile__contract__heading h2 {
  color: var(--black-300, #536262);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.buyer_profile__tender__area {
  padding: 60px 0;
}

.buyer_profile__tender__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.buyer_profile__tender__heading h1 {
  color: var(--black-400, #213937);
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 42px;
  max-width: 569px;
}

.buyer_profile__tender__heading h2 {
  color: var(--black-300, #536262);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.buyer_profile__tender__content {
  column-gap: 100px;
  row-gap: 24px;
  justify-content: space-between;
  margin-top: 60px;
}

.buyer_profile__tender__item {
  max-width: 560px;
}
.buyer_profile__tender__item:after {
  content: "";
  display: block;
  height: 1px;
  width: 70px;
  background: #e4e4e4;
  transition: 0.3s;
  margin-top: 24px;
}
.buyer_profile__tender__item:hover:after {
  width: 100%;
  background: #02897a;
}

.buyer_profile__tender__metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.buyer_profile__tender__metadata > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.buyer_profile__tender__metadata img {
  width: 16px;
}

.buyer_profile__tender__content h3 {
  color: var(--primary-500, #02897a);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
.buyer_profile__tender__content h4 {
  color: var(--black-200, #788080);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.buyer_profile__tender__content span {
  color: var(--black-300, #536262);
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
}

.training__support__images {
  position: relative;
}
.support-arrow-img {
  position: absolute;
  right: -95px;
  bottom: 28px;
}
.buyer_profile__hero__area {
  text-align: center;
  padding: 80px 0;
  background: #fbfbff;
}

.buyer_profile__hero__area span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--primary-500, #02897a);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
}

.buyer_profile__hero__area span img {
  width: 20px;
  margin-bottom: 0;
}

.buyer_profile__hero__area h1 {
  color: var(--black-500, #051412);
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  margin-bottom: 16px;
}

.buyer_profile__hero__area p {
  color: #536262;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 40px;
  max-width: 542px;
  margin-left: auto;
  margin-right: auto;
}

.buyer_profile__hero__area img {
  width: 100%;
  margin-bottom: 40px;
}

.buyer_profile__hero__area .description2 {
  color: var(--black-500, #051412);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  max-width: 781px;
  margin-bottom: 40px;
}

.training__course__accordion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training__course__accordion .accordion-item {
  background-color: #fff;
  border: 1px solid #a7adad !important;
  margin-bottom: 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
  border-radius: 8px !important;
  overflow: hidden;
}

.training__course__accordion .accordion-button {
  color: var(--black-500, #051412);
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--white-300, #e4e4e4);
  background: #f7f9f8;
  box-shadow: 0 !important;
  outline: none !important;
}
.training__course__accordion .accordion-button:not(.collapsed) {
  background-color: #fff;
}
.training__course__accordion p {
  color: var(--black-400, #213937);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.training__course__accordion ul {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 824px;
}
.training__course__accordion__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.training__course__accordion__item + .training__course__accordion__item {
  margin-top: 10px;
}
.training__course__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 723px;
  gap: 24px;
  margin: 0 auto;
  text-align: center;
}
.training__course__contact p {
  color: var(--black-500, #051412);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.training__course__contact button {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--black-500, #051412);
  color: var(--white-500, #fff);
  font-size: 16px;
  font-weight: 700;
  border: none;
  transition: 0.3s;
}
.training__course__contact button:hover {
  background: var(--secondary-500, #fb8f30);
}

.training__courses__tabs {
  margin-top: 24px;
}

.training__courses__tabcontent {
  margin-top: 20px;
  border: 1px solid #a3c3c3;
  padding: 30px;
  margin-bottom: 60px;
}
.training__courses__tabs .nav-link {
  border: 0;
  border-bottom: 2px solid transparent;
  color: var(--black-500, #051412);
  font-size: 16px;
  font-weight: 400;
}
.training__courses__tabs .nav-link {
  border-bottom: 2px solid transparent;
}
.training__courses__tabs .nav-link.active {
  border: 0;
  border-bottom: 2px solid var(--primary-500, #02897a);
  color: var(--primary-500, #02897a);
  font-weight: 600;
}

.training__getstarted__area {
  background: linear-gradient(180deg, #25824c 0%, #0a9072 100%);
  padding: 100px 0;
}
.training__getstarted__content {
  max-width: 400px;
}
.training__getstarted__content h1 {
  color: var(--white-500, #fff);
  font-size: 42px;
  font-weight: 700;
}
.training__getstarted__content p {
  color: var(--white-400, #f2f2f2);
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0px 40px 0px;
}
.training__getstarted__content button {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-500, #02897a);
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  background: var(--white-500, #fff);
  border: 0;
  transition: 0.3s;
}
.training__getstarted__content button:hover {
  background: var(--secondary-500, #fb8f30);
  color: var(--white-500, #fff);
}
.training__getstarted__images {
  display: flex;
  flex-direction: column;
  max-width: 470px;
  margin-left: auto;
  gap: 30px;
}
.training__getstarted__images img {
  max-width: 300px;
}
.training__getstarted__images .image-1 {
  align-self: end;
}
.training__course__content h1 {
  color: var(--black-500, #051412);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.training__course__content span {
  color: var(--black--400, #213937);
  font-size: 16px;
  font-weight: 700;
}
.training__course__content p {
  color: var(--black-black-400, #213937);
  font-size: 16px;
  font-weight: 400;
}
.training__course__book span {
  color: var(--green-500, #25824c);
  text-align: end;
  font-size: 18px;
  font-weight: 700;
}
.training__course__book p {
  color: var(--black-500, #051412);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.training__course__book {
  width: 153px;
}
.training__course__book button {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--primary-primary-500, #02897a);
  color: var(--white-500, #fff);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  transition: 0.3s;
}
.training__course__book button:hover {
  background: var(--secondary-500, #fb8f30);
  color: var(--white-500, #fff);
}
.training__course__about hr {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
}
.training__course__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.training__course__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.training__course__content p {
  color: var(--black-400, #213937);
  font-size: 16px;
  font-weight: 400;
}
.training__course__content p span {
  color: var(--black-400, #213937);
  font-size: 16px;
  font-weight: 700;
}
.training__course__description {
  margin-bottom: 24px;
}
.training__course__description h1 {
  color: var(--black-500, #051412);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.training__course__profile {
  display: flex;
  gap: 16px;
  align-items: center;
}
.training__course__profile > img {
  width: 100px;
  border-radius: 4px;
}
.training__course__details p {
  color: var(--primary-500, #02897a);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.training__course__details span {
  color: var(--black-500, #051412);
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}
.training__course__details img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.training__course__profile__email {
  display: flex;
}

.training__support__area {
  padding: 100px 0;
  display: flex;
}
.training__support__content {
  max-width: 470px;
  margin-left: auto;
}
.training__support__content h1 {
  color: var(--black-500, #051412);
  font-size: 42px;
  font-weight: 700;
}
.training__support__content p {
  color: var(--black-300, #536262);
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0px 40px 0px;
}
.training__support__content button {
  display: inline-flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: var(--primary-primary-500, #02897a);
  color: var(--white-500, #fff);
  font-size: 16px;
  font-weight: 700;
  border: 0;
  transition: 0.3s;
}
.training__support__content button:hover {
  background: var(--secondary-500, #fb8f30);
  color: var(--white-500, #fff);
}
.training__courses__card a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.training__courses__card a span {
  color: var(--black-300, #536262);
  font-size: 14px;
  font-weight: 700;
  text-underline-offset: 4px;
  text-decoration-line: underline;
}

.training__courses__card:hover a span {
  color: var(--primary-500, #02897a);
}

.training__courses__card:hover a img {
  transform: rotate(180deg);
}

.training__courses__card__data p {
  color: var(--primary-500, #02897a);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}
.training__courses__card__data.secondary p {
  color: var(--secondary-500, #fb8f30);
}

.training__courses__card__data {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.training__courses__card__body h1 {
  color: var(--black-500, #051412);
  font-size: 18px;
  font-weight: 700;
}

.training__courses__card__body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.training__courses__card {
  border-radius: 4px;
  border: 1px solid transparent;
  background: var(--white-500, #fff);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
}

.training__courses__card:hover {
  border-radius: 4px;
  border-color: var(--primary-200, #c1eaea);
  background: var(--white-500, #fff);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
}

.training__courses__card > img {
  width: 100%;
}

.training__courses__content {
  padding: 60px 0 30px 0;
}

.training__courses__header {
  text-align: center;
  padding-top: 60px;
}

:is(.training__courses__header, .training__courses__subheader) span {
  background-color: #eff5f5;
  padding: 3px 8px;
  border-radius: 8px;
  color: #02897a;
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 20px;
  display: inline-block;
}
.training__courses__subheader span {
  margin-bottom: 10px;
}
:is(.training__courses__header, .training__courses__subheader) h1 {
  color: var(--black-500, #051412);
  font-size: 32px;
  font-weight: 700;
}

.training__hero__area {
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}

.training__hero__content span {
  background-color: #eff5f5;
  padding: 3px 8px;
  border-radius: 8px;
  color: #02897a;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-block;
}

.training__hero__content h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
  color: #051412;
  max-width: 974px;
  margin-left: auto;
  margin-right: auto;
}

.training__hero__content p {
  color: #536262;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  max-width: 683px;
  margin-left: auto;
  margin-right: auto;
}

.training__hero__content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.resource__area.training_resource {
  margin-bottom: 100px;
}

.training__feature__area {
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}

.training__feature__title {
  color: var(--black-500, #051412);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.training__feature__card {
  border-radius: 8px;
  background: var(--white-500, #fff);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
  padding: 40px 30px 30px 30px;
}

.training__feature__card img {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 30px;
}

.training__feature__card h1 {
  color: var(--black-500, #051412);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.training__feature__card p {
  color: var(--black-300, #536262);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding: 0 5px;
}

.training__feature__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 322px;
  background: #e8f5f1;
  z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .support-arrow-img {
    bottom: -22px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .training__hero__content {
    max-width: 80%;
    margin-bottom: 30px;
  }

  .training__hero__content span {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .training__hero__content h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .training__hero__content p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .training__hero__content a {
    width: 140px;
    height: 46px;
    font-size: 14px;
    border-radius: 4px;
  }

  .training__hero__area {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  /* new */
  .training__feature__card {
    padding: 14px;
  }
  .training__feature__card img {
    padding: 10px;
    margin-bottom: 12px;
  }
  .training__feature__card h1 {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .training__support__images {
    text-align: center;
  }
  .training__support__content {
    max-width: 100%;
  }
  .resource__content p {
    font-size: 18px;
  }
  .support-arrow-img {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .training__hero__area {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .training__hero__content {
    max-width: 90%;
    margin-bottom: 30px;
  }

  .training__hero__content span {
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .training__hero__content h1 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  .training__hero__content p {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .training__hero__content a {
    width: 128px;
    height: 42px;
    border-radius: 4px;
    font-size: 14px;
  }
  .training__feature__bg .row {
    margin: 0px auto;
    max-width: 400px;
  }
  /* new */
  .training__feature__card {
    padding: 15px;
  }
  .training__feature__card img {
    margin-bottom: 15px;
  }
  .training__feature__card h1 {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .training__support__images {
    text-align: center;
  }
  .training__support__content {
    max-width: 100%;
  }
  .training__course__accordion__item {
    align-items: flex-start;
  }
  .training__course__accordion__item img {
    margin-top: 5px;
  }
  .training__course__profile {
    flex-direction: column;
    align-items: flex-start;
  }
  .pagination li a {
    height: 40px;
    width: 40px;
  }
  .pagination li:first-child img,
  .pagination li:last-child img {
    margin-top: -3px;
  }
  .support-arrow-img {
    display: none;
  }
}

/* media */
